[submodule "tlm_cmd_merger"]
	path = tlm_cmd_merger
	url = git@penguin.windhoverlabs.lan:airliner/tlm-cmd-merger.git
[submodule "xtce_generator"]
	path = xtce_generator
	url = git@penguin.windhoverlabs.lan:airliner/xtce-generator.git
[submodule "juicer"]
	path = juicer
	url = git@penguin.windhoverlabs.lan:airliner/juicer.git
